.-bag-image {
  animation: wrapperapp 1s 12s forwards linear;
}
.-front-bag {

  animation: bag 1s 6s forwards linear;
}
.-back-bag {
animation: bag 1s 6s forwards linear;
}
.-icon-1 {
  animation: moveup 1s 1s forwards linear , moveupSecondAnimate 0.3s 5s forwards linear;
}
.-icon-2 {
  animation: moveup2 1s 1s forwards linear , moveup2SecondAnimate 0.3s 5s forwards linear;

}
.-icon-3 {
  animation: moveup3 1s 2s forwards linear , moveup3SecondAnimate 0.3s 5.3s forwards linear;

}
.-icon-4 {
  animation: moveup4 1s 2s forwards linear, moveup4SecondAnimate 0.3s 5.3s forwards linear;

}
.-icon-5 {

  animation: moveup5 2s 3s both linear , width 1s 7s forwards linear , borderrad 1s 12s forwards linear;

}
.item-rotate {

  animation: rotates 1s 8s both linear ,;
}
.-icon-6 {

  animation: moveup6 2s 5s both linear , op 0.3s 7s forwards linear;

}
