$primaryColor: #0288D1;
$whitecolor: #fff;
$right: right;
$left: left;
$textRight: right;
$textLeft: left;
$textCenter: center;
._navbar-top {
  width: 100%;
  height: 50px;
}
* {
  font-family: "droid";
}
.-navbar-top {
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0,0,0,.2);
  padding: 5px 0;
  float: right;
  width: 100%;
  z-index: 33;
  position: fixed;
  .-menu {
    margin: 30px 0 0;
    width: 50%;
    float: left;
    li {
      float: right;
      display: inline-block;
      padding-left: 5px;
      a {
        color: $whitecolor;
        display: inline-block;
        font-size: 15px;
        padding: 10px 5px;
        font-weight: bold;
        text-decoration: none;
        color: #414141;
      }
    }
  }
  .-logo {
    float: right;
    margin-right: 120px;
    img {
      width: 90px;
    }
  }
}

@media (max-width:930px) {
  .-navbar-top{
    .-menu {
    width: 70%
}
  }
}
.-tap-button{
display: none;
}
@media (max-width:768px) {
  .-navbar-top {
    // background-color: #fff;
    // box-shadow: 0px 2px 5px rgba(0,0,0,.3);
    padding: 5px 0;
    float: right;
    width: 100%;
    z-index: 33;
    position: fixed;
    background: #fff;
      box-shadow: 0px 0px 25px rgba(0,0,0,.2);
      .-tap-button{
        float: $left;
        display: block !important;
        margin-top: 35px;
        cursor: pointer;
        i{
          font-size: 28px
        }
      }
    .-menu {
      width: 100%;
      float: $left;
      background: #ddd;
      position: fixed;
      top: -30px !important;
      right: -100%;
      transition: all .4s ease-in-out;

      li {
        float: left !important;
        width: 100%;
        display:block !important;
        padding: 0px 10px;
        text-align: $right;
        a {
          color: $whitecolor;
          display: block;
          font-size: 15px;
          padding: 10px 5px;
          font-weight: bold;
          text-decoration: none;
          color: #414141;
          text-align: $right;
          transition: all .4s ease-in-out;
          background: #ddd
        }
        a:hover{
          background: #fff;
          box-shadow: 0px 4px 10px rgba(0,0,0,.5);
        }

      }
    }
    .right-0{
      right: 0px
    }

    .-logo {
      float: right;
      margin-right: 20px;
      img {
        width: 90px;
      }
    }
  }
}

._slider {
  float: $right;
  width: 100%;
  .carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
  }
  .carousel-fade .carousel-inner .item,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    opacity: 0;
  }
  .carousel-fade .carousel-inner .active,
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  .carousel-fade .carousel-inner .next,
  .carousel-fade .carousel-inner .prev,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-control {
    z-index: 2;
  }
  .carousel,
  .carousel-inner,
  .carousel-inner .item {
    height: 650px ;
  }
  .item:nth-child(1) {
    background: $primaryColor;
  }
  .item:nth-child(2) {
    background: #3F51B5;
  }
  .item:nth-child(3) {
    background: #E46653;
  }
  .item:nth-child(4) {
    background: #673AB7;
  }
  .-text-slide-item {
    margin-top: 200px;
  }
  .-item-content {
    float: $right;
    padding: 0 50px;
    h3 {
      color: #FFF;
      text-align: $textCenter;
      font-weight: bold;
      font-size: 40px;
      line-height: 65px;
      margin-bottom: 50px
    }
    p {
      color: #fff;
      margin-top: 30px;
      font-size: 17px;
      font-weight: lighter;
      line-height: 35px;
      text-align: $textCenter;
    }
  }
}
@media (max-width:767px) {
  .carousel,
  .carousel-inner,
  .carousel-inner .item {
    height: 750px !important;
  }
}
.margin-top {
  padding-top: 150px;
}
.-item-content {
  margin-top: 90px;
}
.-editor {
  background: #000;
  padding: 20px 10px 20px 30px;
  font-family: cursive;
  color: #fff;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  font-size: 13px;
  height: 320px;
  direction: ltr;
  float: $right;
  margin-top: 50px;
  border: 5px solid #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0,0,0,.5)
}
.typed-cursor {
  opacity: 1;
  display: inline-block;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// service sections
._serv {
  padding: 100px 0;
  width: 100%;
  float: $right;
  overflow: hidden;
  .-serv-right-content {
    h4 {
      font-size: 23px;
      font-family: JF Flat Regular !important;
      font-weight: bold;
      margin: 0 0 30px;
    }
    p {
      font-size: 17px;
      line-height: 32px;
      font-weight: 500;
      color: #414141;
    }
    .-border-style {
      border: 2px solid #E46653;
      color: #414141;
      margin-top: 20px;
    }
    .-border-style:hover {
      color: $primaryColor;
    }
  }
  .-serv-left-content {
    .serv-item {
      h3 {
        font-size: 13px;
        font-weight: bold;
      }
    }
    .-images-full {
      text-align: center;
    }
    .-images-full img {
      width: 100%;
    }
  }
}
._how-buld {
  .-right-side {
    position: relative;
    top: -70px;
  }
  .-left-side {
    h4 {
      font-size: 22px;
      font-weight: bold;
      margin: 0 0 20px;
    }
    p {
      font-size: 17px;
      line-height: 32px;
      font-weight: 500;
      color: #414141;
    }
  }
}
.-hint {
  display: block;
  text-align: center;
  margin-top: 25px;
  font-family: JF Flat Regular !important;
  font-weight: bold;
  font-size: 17px;
}
.-custumer {
  margin-top: 70px;
  width: 100%;
  height: 760px;
  h4 {
    border-bottom: 2px solid #414141;
    float: $right;
    padding: 10px 0;
  }
  .-cu-item:hover {
    box-shadow: 0 1px 10px rgba(0,0,0,.5);
    transform: scale(1.05);
  }
  .-cu-item {
    float: right;
    width: 100%;
    margin-top: 50px;
    padding: 20px 10px;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    .top0 {
      bottom: 0 !important;
      transition: all 0.4s ease-in-out !important;
    }
    .-open {
      cursor: pointer;
      width: 15px;
      height: 15px;
      float: left;
    }
    .-close {
      cursor: pointer;
      width: 15px;
      height: 15px;
      float: left;
    }
    .-cu-img {
      width: 100%;
      height: 174px;
    }
    .-cu-panel {
      position: absolute;
      bottom: -100%;
      right: 0;
      padding: 20px 10px;
      background: #fff;
      z-index: 99;
      transition: all 0.4s ease-in-out !important;
      span {
        font-size: 16px !important;
        display: block;
        width: 100%;
        text-align: center;
        font-family: JF Flat Regular !important;
        font-weight: bold;
      }
      p {
        font-size: 14px;
        margin-top: 20px;
        text-align: center !important;
        height: 72px !important;
        overflow: hidden;
        line-height: 25px
      }
      .-cu-links {
        margin: 0;
        text-align: center;
        margin-top: 15px;
        li {
          display: inline-block;
          text-align: center;
          a {
            background-color: $primaryColor;
            display: inline-block;
            border-radius: 100%;
            color: #fff;
            width: 35px;
            height: 35px;
            box-shadow: 0 0 7px rgba(0,0,0,.3);
            text-align: center;
            line-height: 35px;
            padding: 0 !important;
            i {
              padding: 0 !important;
              margin: 0 !important;
            }
          }
        }
      }
    }
    span {
      display: -inline-block;
      font-size: 16px;
      float: right;
    }
    .-cu-title {
      margin-top: 20px;
      float: right;
      width: 100%;
      i {
        float: left;
        margin-top: 5px;
        font-size: 17px !important;
        display: inline-block;
      }
    }
  }
}
// animate logo
.po {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#scene {
  position: relative;
  width: 100%;
}
.animate-durations {
  animation-duration: 20s !important;
}
.position-abs {
  position: absolute;
  top: 30px;
  left: 40%;
  color: orange !important;
}
.-title {
  display: block;
  color: aqua;
}
._serv-section {
  position: relative;
  z-index: 16;
  .-bottom-navbar {
    width: 100%;
    background: #0288D1;
  }
}
.remove-margin {
  transform: scale(.7);
}


._serv-section {
  width: 100%;
  float: left;
  margin-top: 150px !important;

  .-bag {
    float: right;
    margin-right: 25%;
    margin-top: 50px;
    .-bag-image {
      top: 0;
      position: relative;
      width: 350px;
      img {}
      .-front-bag {
        position: absolute;
        z-index: 14;
        width: 350px;
        left: 0;
        top: 38px;
      }
      .-back-bag {
        position: absolute;
        z-index: 1;
        left: 0;
        width: 350px;
         //                    moveupSecondAnimate .3s 5s forwards linear ;
      }
      .-animate-option {
        position: absolute;
        z-index: 2;
        bottom: -150px;
        width: 50px;
        box-shadow: 0 1px 1px rgba(0,0,0,.5);
        background: #2196F3;
        overflow: hidden;
        padding: 5px; //                border-radius: 100%;
      }
      .-icon-1 {
        height: 50px; //                animation-fill-mode: forwards
            left: 20px;
      }
      .-icon-2 {
        height: 50px;
            left: 20px;
      }
      .-icon-3 {
        height: 50px;
            left: 20px;
      }
      .-icon-4 {
        height: 50px;
            left: 20px;
      }
      .-icon-5 {
        z-index: 1;
        width: 250px;
        border-radius: 0;
        box-shadow: none;
        left: 50px ;

      }
      .item-rotate {
        position: absolute;
        width: 350px;
        z-index: 12;
      }
      .-icon-6 {
        z-index: 2;
        border-radius: 0;
        box-shadow: none;
        width: 200px;
        width: 105px;
        bottom: 150px;
        left: 120px;
        opacity: 0;
      }
    }

  }
  .-serv-item-heade {
    h4 {
      text-align: center;
      border-bottom: 2px solid #ccc;
      float: right;
      padding-bottom: 20px;
    }
  }
  .right-section-serv {
    p {
      text-align: right;
    }
  }
}
.po {
  z-index: 14;
  .bg-trans {
    height: 100vh;
    width: 100%;
    background: rgba(250,250,250,1);
  }
  .-cover-bg-trans {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 14;
    background: rgba(250,250,250,.9);
  }
}
.lint-item {
  border: 1px solid #000;
  border-right: 0;
  border-left: 0;
  height: 150px;
}
.-serv-item {
  .-icon-head {
    width: 50px;
    height: 50px;
    background: #2196F3;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
  }
}
.icon-logo-animate {
  position: absolute;
  display: none;
  width: 350px;
  left: 70px;
  z-index: 11;
  top: -150px;
  img {
    width: 50px;
    height: 50px;
    float: left;
  }
  .i-row {
    position: absolute;
    top: 0;
  }
}
.right-logo-area {
  position: relative;
  z-index: 11;
}
.left-logo-area {
  position: relative;
  z-index: 11;
}
.bottom-logo-area {
  position: relative;
  z-index: 11;
}
.top-logo-area {
  position: relative;
  z-index: 11;
}

.-icon-5 {
  width: 350px;
  height: 250px;
  background: url("..//images/circles-25.jpg") !important;
  background-size: 100% 100% !important;
  box-shadow: 0 1px 1px rgba(0,0,0,.5);
  border: 5px solid #000;
  border-radius: 10px !important;
}
.skew-item {
  width: 100px;
  height: 25px;
  float: right;
  border: 1px solid #000;
  border-right: none;
  border-top: 0;
  transform: skewX(40deg);
}
@media(max-width:767px){
  ._serv-section{
    margin-top: 220px !important;
  }
}
.scales{
  transform: scale(.5);
}
.infograph {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  line-height: 153px;
  background: #0288D1;
  border-radius: 100%;
  margin-top: 50px;
  img {
    width: 140px;
    height: 140px;
    border-radius: 100%;
  }
}
.bx-wrapper{
  overflow: hidden;
}
.animate-infograph {
  margin-top: 50px;
  text-align: center;
  float: right;
}
.animate-infograph a {
  border: 2px solid #0288D1;
  color: #414141;
}
.full-width-btn {
  width: 100%;
  border: 2px solid $primaryColor;
  margin-top: 40px;
  display: block;
}

// video section
._video-section {
  background: url("..//images/_minflat__dark_material_design_wallpaper__4k__by_dakoder-d8fjqzu.jpg") center center;
  background-size: cover;
  float: right;
  width: 100%;
  margin-top: 50px;
  .contact-us {
    background: #fff;
    display: block;
    border: 2px solid $primaryColor;
  }
  .-cover {
    background: rgba(0,0,0,.5);
    padding: 50px 0;
  }
}
@media(max-width:767px){
  ._video-section {
    margin-top: 100px !important;

}
}
.border-frame {
  background: #000;
  padding: 20px;
  border-radius: 20px;
}
.-video-disc {
  h4 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  p {
    color: #fff;
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
  }
}
// logo slider
.-logo-slider {
  width: 1200px;
  border: 1px solid #000;
  height: 150px;
  div {
    float: right;
    padding-left: 25px;
    img {
      width: 100px;
      height: 100px;
    }
  }
}
// footer
._footer {
  padding: 50px 0;
  width: 100%;
  float: $right;
  span {
    font-size: 18px;
    display: block;
    margin: 20px 0;
    float: $right;
    width: 100%;
    font-weight: bold;
  }
  .footer-about {
    p {
      font-size: 13px;
      line-height: 25px;
    }
  }
  .-footer-menu {
    li {
      float: $right;
      width: 33.333333%;
      padding: 5px 0;
      a {
        display: inline-block;
        width: 100%;
        float: $right;
        font-size: 13px;
        color: #414141;
        font-weight: 100;
      }
    }
    a:hover {
      color: #000;
      font-weight: bold;
    }
  }
  .contact-info {
    span {
      font-size: 13px !important;
      margin: 10px 0;
      float: none !important;
      font-weight: bold;
    }
    li {
      width: 100% !important;
      padding: 0 !important;
    }
  }
}
.-rights {
  width: 100%;
  float: $right;
  background: #ddd;
  padding: 10px 0;
  text-align: center;
}
// service section
._service {
  float: right;
  width: 100%;
  padding: 150px 0 0;
  .-heade-of-page {
    h4 {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
    }
    .form-wrapper {
      padding: 50px 0;
      label {
        font-size: 15px !important;
        top: -5px !important;
        right: 20px;
      }
      .input-field {
        margin-bottom: 20px;
        select {
          display: block;
          border: none !important;
          border-bottom: 1px solid #000 !important;
          color: #414141;
          height: 33px;
          box-shadow: 0 0 0 rgba(0,0,0,0) !important;
        }
        .hints- {
          span {
            color: red;
          }
        }
        select:focus {
          border: none !important;
          box-shadow: 0 0 0 rgba(0,0,0,0) !important;
        }
        .color-pick li:last-child,
        .websites li:last-child {
          display: none;
        }
        .color-pick li {
          width: 20px;
          height: 20px;
          background: #ccc;
          border: 1px solid rgba(0,0,0,.4);
          display: inline-block;
          margin-right: 2px;
          float: right;
          position: relative;
          overflow: hidden;
        }
        .color-pick li:hover .remove-color {
          top: 1px;
        }
        .remove-color {
          position: absolute;
          display: block;
          top: -100px;
          left: 3px;
          transition: all 0.4s ease-in-out;
          cursor: pointer;
        }
      }
      input {
        font-size: 15px;
      }
    }
  }
}
.fix-button {
  border: 2px solid #0288D1 !important;
  color: #414141 !important;
  padding: 15px 50px !important;
  margin-top: 20px !important;
  background: #fff !important;
  line-height: 15px !important;
  height: 50px !important;
}
.clear {
  clear: both;
}
.display-none {
  opacity: 0;
  height: 50px !important;
}
.margin-top-50 {
  margin-top: 50px;
  textarea {
    font-size: 15px;
  }
}
.-more {
  li {
    font-size: 16px;
    margin: 15px 0;
    a {
      text-decoration: none;
      margin-right: 10px;
    }
    span {
      font-family: JF Flat Regular !important;
    }
  }
}

.work-p{
  font-size: 18px;
  line-height: 30px;
  margin-top: 25px;
}
.bxslider{
width: 100% !important;
  height: 150px !important;
  display: block;
  border: none !important;

  li{
    float: right !important;
    display: block;
    img{
      width: 160px;
      height: 70px
    }
  }
}
.bx-wrapper{
  max-width: 100% !important;
}
._logo-ticker{
  margin: 50px 0 0 0
}
.-head-logo{
  h4{
    text-align: center;
    font-size: 22px;
    margin-bottom: 50px
  }
}
.services-btn{
  background: #FFF;
margin-top: 14px;
}
.services-btn:hover{
  background: #fff
}
@media (max-width:790px) {
  .slide-scal{
  transform: scale(.5);
  }
  .top-50{
    top: -150px;
    position: relative;
  }
  .page-editor-animation{
    position: relative;
    top: 50px
  }
}
.width-100{
  width: 100%
}

.animates{
  animation-play-state:running !important;
}
.bag-animate{
  .-info-animate1 {
    animation: infoanimate1 1s 13s forwards linear !important;
  }
  .-info-animate2 {
    animation: infoanimate2 1s 13.5s forwards linear !important;
  }
  .-info-animate3 {
    animation: infoanimate3 1s 14s forwards linear !important;
  }
  .left-logo-area {

    animation: left-area 1s 10s forwards linear;
}
  .bottom-logo-area {

    animation: bottom-area 1s 11s forwards linear;
}
  .top-logo-area {

    animation: top-area 1s 11s forwards linear;
}
  .right-logo-area {

    animation: right-area 1s 9s forwards linear;
}
  .-bag-image {
    animation: wrapperapp 1s 12s forwards linear;
  }
  .-bag-image {
    animation: wrapperapp 1s 12s forwards linear;
  }
  .-front-bag {

    animation: bag 1s 6s forwards linear;
  }
  .-back-bag {
  animation: bag 1s 6s forwards linear;
  }
  .-icon-1 {
    animation: moveup 1s 1s forwards linear , moveupSecondAnimate 0.3s 5s forwards linear;
  }
  .-icon-2 {
    animation: moveup2 1s 1s forwards linear , moveup2SecondAnimate 0.3s 5s forwards linear;

  }
  .-icon-3 {
    animation: moveup3 1s 2s forwards linear , moveup3SecondAnimate 0.3s 5.3s forwards linear;

  }
  .-icon-4 {
    animation: moveup4 1s 2s forwards linear, moveup4SecondAnimate 0.3s 5.3s forwards linear;

  }
  .-icon-5 {

    animation: moveup5 2s 3s both linear , width 1s 7s forwards linear , borderrad 1s 12s forwards linear;
left: 50px;

  }
  .item-rotate {

    animation: rotates 1s 8s both linear ,;
  }
  .-icon-6 {

    animation: moveup6 2s 5s both linear , op 0.3s 7s forwards linear;

  }
}
.step-animate{

  /*step 1---------------------------------------------------------------------*/


  .step1 {
    position: relative;

  }

  .step1 svg {
    max-width: 600px;
    display: block;
    margin: auto;
  }

  /*Elements---------------------------------------------------------------------*/
  /*Cubes*/
  /*initial*/
  .tcubes {
    opacity: 0;
    -webkit-animation: appear 1.5s ease-out 1 forwards;
            animation: appear 1.5s ease-out 1 forwards;
  }
  .tcubes#ct1 {
    -webkit-animation-delay: 4.1s;
            animation-delay: 4.1s;
  }
  .tcubes#ct2 {
    -webkit-animation-delay: 4.2s;
            animation-delay: 4.2s;
  }
  .tcubes#ct3 {
    -webkit-animation-delay: 4.3s;
            animation-delay: 4.3s;
  }
  .tcubes#ct4 {
    -webkit-animation-delay: 4.4s;
            animation-delay: 4.4s;
  }
  .tcubes#ct5 {
    -webkit-animation-delay: 4.5s;
            animation-delay: 4.5s;
  }
  .tcubes#ct6 {
    -webkit-animation-delay: 4.6s;
            animation-delay: 4.6s;
  }
  .tcubes#ct7 {
    -webkit-animation-delay: 4.7s;
            animation-delay: 4.7s;
  }
  .tcubes#ct8 {
    -webkit-animation-delay: 4.8s;
            animation-delay: 4.8s;
  }
  .tcubes#ct9 {
    -webkit-animation-delay: 4.9s;
            animation-delay: 4.9s;
  }

  /*Master cube*/
  #cbmaster {
    -webkit-animation: up_cb 1.5s ease-out 1.5s 1 forwards, disappear 1.5s ease-out 3s 1 forwards;
            animation: up_cb 1.5s ease-out 1.5s 1 forwards, disappear 1.5s ease-out 3s 1 forwards;
  }

  .bcubes {
    -webkit-animation: disappear 1.5s ease-in 1 forwards;
            animation: disappear 1.5s ease-in 1 forwards;
  }
  .bcubes#cb1 {
    opacity: 0;
    display: none;
  }
  .bcubes#cb2 {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .bcubes#cb3 {
    -webkit-animation-delay: 3.1s;
            animation-delay: 3.1s;
  }
  .bcubes#cb4 {
    -webkit-animation-delay: 3.2s;
            animation-delay: 3.2s;
  }
  .bcubes#cb5 {
    -webkit-animation-delay: 3.3s;
            animation-delay: 3.3s;
  }
  .bcubes#cb6 {
    -webkit-animation-delay: 3.5s;
            animation-delay: 3.5s;
  }
  .bcubes#cb7 {
    -webkit-animation-delay: 3.4s;
            animation-delay: 3.4s;
  }
  .bcubes#cb8 {
    -webkit-animation-delay: 3.6s;
            animation-delay: 3.6s;
  }
  .bcubes#cb9 {
    -webkit-animation-delay: 3.7s;
            animation-delay: 3.7s;
  }
  .bcubes#cb10 {
    -webkit-animation-delay: 3.8s;
            animation-delay: 3.8s;
  }
  .bcubes#cb11 {
    -webkit-animation-delay: 3.9s;
            animation-delay: 3.9s;
  }
  .bcubes#cb12 {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .bcubes#cb13 {
    -webkit-animation-delay: 4.1s;
            animation-delay: 4.1s;
  }

  /*Arm*/
  #arm {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-animation: arm_up 1.5s ease-out 0s 1 forwards,arm_down 1.5s ease-out 1.5s 1 forwards;
            animation: arm_up 1.5s ease-out 0s 1 forwards,arm_down 1.5s ease-out 1.5s 1 forwards;
  }

  /*Magnet*/
  #magnet {
    -webkit-animation: down 1.5s ease-out 0s 1 forwards,up 1.5s ease-out 1.5s 1 forwards;
            animation: down 1.5s ease-out 0s 1 forwards,up 1.5s ease-out 1.5s 1 forwards;
  }

  /*Rays*/
  #lrays {
    -webkit-animation: down 1.5s linear 0s infinite forwards;
            animation: down 1.5s linear 0s infinite forwards;
  }
  #lrays #small {
    opacity: 0;
    -webkit-animation: appear_rays 0.5s linear 0s 1 forwards;
            animation: appear_rays 0.5s linear 0s 1 forwards;
  }
  #lrays #middle {
    opacity: 0;
    -webkit-animation: appear_rays 0.5s linear 0.25s 1 forwards;
            animation: appear_rays 0.5s linear 0.25s 1 forwards;
  }
  #lrays #big {
    opacity: 0;
    -webkit-animation: appear_rays 0.5s linear 0.5s 1 forwards;
            animation: appear_rays 0.5s linear 0.5s 1 forwards;
  }

  #rrays {
    -webkit-animation: down 1.5s linear 0s infinite forwards;
            animation: down 1.5s linear 0s infinite forwards;
  }
  #rrays #small {
    opacity: 0;
    -webkit-animation: appear_rays 0.5s linear 0s 1 forwards;
            animation: appear_rays 0.5s linear 0s 1 forwards;
  }
  #rrays #middle {
    opacity: 0;
    -webkit-animation: appear_rays 0.5s linear 0.25s 1 forwards;
            animation: appear_rays 0.5s linear 0.25s 1 forwards;
  }
  #rrays #big {
    opacity: 0;
    -webkit-animation: appear_rays 0.5s linear 0.5s 1 forwards;
            animation: appear_rays 0.5s linear 0.5s 1 forwards;
  }

  /*Rope*/
  #rope {
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
    -webkit-animation: smaller_rope 1.5s linear 1.5s 1 forwards;
            animation: smaller_rope 1.5s linear 1.5s 1 forwards;
  }

  /*Floor*/
  /*Keyframes--------------------------------------------------------------------*/
  @-webkit-keyframes smaller_rope {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
    100% {
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
  }
  @keyframes smaller_rope {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
    100% {
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
  }
  @-webkit-keyframes up_cb {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-59px);
              transform: translateY(-59px);
    }
  }
  @keyframes up_cb {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-59px);
              transform: translateY(-59px);
    }
  }
  @-webkit-keyframes down {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(39px);
              transform: translateY(39px);
    }
  }
  @keyframes down {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(39px);
              transform: translateY(39px);
    }
  }
  @-webkit-keyframes up {
    0% {
      -webkit-transform: translateY(39px);
              transform: translateY(39px);
    }
    100% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
  }
  @keyframes up {
    0% {
      -webkit-transform: translateY(39px);
              transform: translateY(39px);
    }
    100% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
  }
  @-webkit-keyframes arm_up {
    0% {
      -webkit-transform: rotate(0deg) scaleX(1);
              transform: rotate(0deg) scaleX(1);
    }
    100% {
      -webkit-transform: rotate(-10deg) scaleX(1.08);
              transform: rotate(-10deg) scaleX(1.08);
    }
  }
  @keyframes arm_up {
    0% {
      -webkit-transform: rotate(0deg) scaleX(1);
              transform: rotate(0deg) scaleX(1);
    }
    100% {
      -webkit-transform: rotate(-10deg) scaleX(1.08);
              transform: rotate(-10deg) scaleX(1.08);
    }
  }
  @-webkit-keyframes arm_down {
    0% {
      -webkit-transform: rotate(-10deg) scaleX(1.08);
              transform: rotate(-10deg) scaleX(1.08);
    }
    100% {
      -webkit-transform: rotate(0deg) scaleX(1);
              transform: rotate(0deg) scaleX(1);
    }
  }
  @keyframes arm_down {
    0% {
      -webkit-transform: rotate(-10deg) scaleX(1.08);
              transform: rotate(-10deg) scaleX(1.08);
    }
    100% {
      -webkit-transform: rotate(0deg) scaleX(1);
              transform: rotate(0deg) scaleX(1);
    }
  }
  @-webkit-keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes disappear {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes disappear {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes appear_rays {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes appear_rays {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  /*step 2*/
  /*General---------------------------------------------------------------------*/

  .step2 {
    position: relative;

  }

  .step2 svg {
    max-width: 600px;
    display: block;
    margin: auto;
  }

  /*Elements*/
  /*Allen start 309 in X*/
  #allens {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation: allens 0.2s steps(1) alternate infinite;
            animation: allens 0.2s steps(1) alternate infinite;
  }

  /*Clock*/
  #minutes {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-animation: rotateclockwise 10s infinite linear forwards;
            animation: rotateclockwise 10s infinite linear forwards;
  }

  #hours {
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    -webkit-animation: rotateclockwise 120s infinite linear forwards;
            animation: rotateclockwise 120s infinite linear forwards;
  }

  /*Arrows*/
  #arrow_left {
    opacity: 0;
    -webkit-animation: fadein 1s 1 ease-in-out 1s forwards;
            animation: fadein 1s 1 ease-in-out 1s forwards;
  }

  #arrow_right {
    opacity: 0;
    -webkit-animation: fadein 1s 1 ease-in-out 2s forwards;
            animation: fadein 1s 1 ease-in-out 2s forwards;
  }

  /*Bulb*/
  #bulb {
    opacity: 0;
    -webkit-animation: fadein 1s 1 ease-in-out forwards;
            animation: fadein 1s 1 ease-in-out forwards;
  }

  /*Dollar*/
  #dollar {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation: rotateclockwise 20s infinite linear;
            animation: rotateclockwise 20s infinite linear;
  }

  /*Graphic*/
  #graphic {
    stroke-dasharray: 299;
    stroke-dashoffset: 300;
    -webkit-animation: outline 1s 1 ease-in-out 3s forwards;
            animation: outline 1s 1 ease-in-out 3s forwards;
  }

  /*Keyframes*/
  @-webkit-keyframes allens {
    0% {
      -webkit-transform: translateX(309px);
              transform: translateX(309px);
    }
    11.19% {
      -webkit-transform: translateX(229px);
              transform: translateX(229px);
    }
    22.29% {
      -webkit-transform: translateX(155px);
              transform: translateX(155px);
    }
    33.39% {
      -webkit-transform: translateX(75px);
              transform: translateX(75px);
    }
    44.49% {
      -webkit-transform: translateX(-6px);
              transform: translateX(-6px);
    }
    55.59% {
      -webkit-transform: translateX(-78px);
              transform: translateX(-78px);
    }
    66.69% {
      -webkit-transform: translateX(-147px);
              transform: translateX(-147px);
    }
    77.79% {
      -webkit-transform: translateX(-226px);
              transform: translateX(-226px);
    }
    88.89% {
      -webkit-transform: translateX(-315px);
              transform: translateX(-315px);
    }
    100% {
      -webkit-transform: translateX(-380px);
              transform: translateX(-380px);
    }
  }
  @keyframes allens {
    0% {
      -webkit-transform: translateX(309px);
              transform: translateX(309px);
    }
    11.19% {
      -webkit-transform: translateX(229px);
              transform: translateX(229px);
    }
    22.29% {
      -webkit-transform: translateX(155px);
              transform: translateX(155px);
    }
    33.39% {
      -webkit-transform: translateX(75px);
              transform: translateX(75px);
    }
    44.49% {
      -webkit-transform: translateX(-6px);
              transform: translateX(-6px);
    }
    55.59% {
      -webkit-transform: translateX(-78px);
              transform: translateX(-78px);
    }
    66.69% {
      -webkit-transform: translateX(-147px);
              transform: translateX(-147px);
    }
    77.79% {
      -webkit-transform: translateX(-226px);
              transform: translateX(-226px);
    }
    88.89% {
      -webkit-transform: translateX(-315px);
              transform: translateX(-315px);
    }
    100% {
      -webkit-transform: translateX(-380px);
              transform: translateX(-380px);
    }
  }
  @-webkit-keyframes show {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes show {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes outline {
    0% {
      stroke-dashoffset: 300;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes outline {
    0% {
      stroke-dashoffset: 300;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes rotateclockwise {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotateclockwise {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @-webkit-keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /*step 3 */
  /*General---------------------------------------------------------------------*/

  .step3 {
    position: relative;

  }

  .step3 svg {
    max-width: 600px;
    display: block;
    margin: auto;
  }

  /*Elements---------------------------------------------------------------------*/
  /*Wheels*/
  .wheels {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  .wheels#wheel1 {
    -webkit-animation: rotate_clockwise 3.5s 1 ease-in-out forwards;
            animation: rotate_clockwise 3.5s 1 ease-in-out forwards;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
            animation-iteration-count: infinite;
  }
  .wheels#wheel2 {
    -webkit-animation: rotate_anticlockwise 3.5s 1 ease-in-out forwards;
            animation: rotate_anticlockwise 3.5s 1 ease-in-out forwards;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
            animation-iteration-count: infinite;

  }
  .wheels#wheel3 {
    -webkit-animation: rotate_clockwise 3.5s 1 ease-in-out forwards;
            animation: rotate_clockwise 3.5s 1 ease-in-out forwards;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
            animation-iteration-count: infinite;

  }

  /*Watch*/
  #watch {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation: watch .9s 1 ease-in forwards;
            animation: watch .9s 1 ease-in forwards;
  }

  /*Sheets*/
  .sheets {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  .sheets#sheet1 {
    -webkit-animation: sheet1 .9s 1 ease-in forwards;
            animation: sheet1 .9s 1 ease-in forwards;
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  .sheets#sheet2 {
    -webkit-animation: sheet2 .9s 1 ease-in forwards;
            animation: sheet2 .9s 1 ease-in forwards;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }

  /*World*/
  #world {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation: world .9s 1 ease-in forwards;
            animation: world .9s 1 ease-in forwards;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }

  /*Stars*/
  .stars {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  .stars#star1 {
    -webkit-animation: star1 .9s 1 ease-in forwards;
            animation: star1 .9s 1 ease-in forwards;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .stars#star2 {
    -webkit-animation: star2 .9s 1 ease-in forwards;
            animation: star2 .9s 1 ease-in forwards;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }

  /*Graphic*/
  #graphic {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  #graphic #line {
    -webkit-animation: graphic 1s 1 ease-in forwards;
            animation: graphic 1s 1 ease-in forwards;
    -webkit-animation-delay: 3.2s;
            animation-delay: 3.2s;
    stroke-dasharray: 99;
    stroke-dashoffset: 100;
  }
  #graphic .circles {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    stroke-dasharray: 99;
    stroke-dashoffset: 100;
  }
  #graphic .circles#circle1 {
    -webkit-animation: graphic 1s 1 ease-in forwards;
            animation: graphic 1s 1 ease-in forwards;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    opacity: 0;
  }
  #graphic .circles#circle2 {
    -webkit-animation: graphic 1s 1 ease-in forwards;
            animation: graphic 1s 1 ease-in forwards;
    -webkit-animation-delay: 2.2s;
            animation-delay: 2.2s;
  }
  #graphic .circles#circle3 {
    -webkit-animation: graphic 1s 1 ease-in forwards;
            animation: graphic 1s 1 ease-in forwards;
    -webkit-animation-delay: 2.4s;
            animation-delay: 2.4s;
  }
  #graphic .circles#circle4 {
    -webkit-animation: graphic 1s 1 ease-in forwards;
            animation: graphic 1s 1 ease-in forwards;
    -webkit-animation-delay: 2.6s;
            animation-delay: 2.6s;
  }
  #graphic .circles#circle5 {
    -webkit-animation: graphic 1s 1 ease-in forwards;
            animation: graphic 1s 1 ease-in forwards;
    -webkit-animation-delay: 2.8s;
            animation-delay: 2.8s;
  }
  #graphic .circles#circle6 {
    -webkit-animation: graphic 1s 1 ease-in forwards;
            animation: graphic 1s 1 ease-in forwards;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  #graphic .circles#circle7 {
    -webkit-animation: graphic 1s 1 ease-in forwards;
            animation: graphic 1s 1 ease-in forwards;
    -webkit-animation-delay: 3.2s;
            animation-delay: 3.2s;
    opacity: 0;
  }

  /*Pies*/
  .pies {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    stroke-dasharray: 199;
    stroke-dashoffset: 200;
    -webkit-animation: pies 1s 1 ease-in-out forwards;
            animation: pies 1s 1 ease-in-out forwards;
    -webkit-animation-delay: 3.2s;
            animation-delay: 3.2s;
  }

  /*Grid*/
  #grid {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }

  /*Tube*/
  #tube #right {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-animation: tube 5s 1 ease-in-out forwards;
            animation: tube 5s 1 ease-in-out forwards;
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s;
  }

  /*Keyframes--------------------------------------------------------------------*/
  @-webkit-keyframes tube {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    10% {
      -webkit-transform: rotateY(18deg);
              transform: rotateY(18deg);
    }
    14% {
      -webkit-transform: rotateY(-12deg);
              transform: rotateY(-12deg);
    }
    17% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    25% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
  }
  @keyframes tube {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    10% {
      -webkit-transform: rotateY(18deg);
              transform: rotateY(18deg);
    }
    14% {
      -webkit-transform: rotateY(-12deg);
              transform: rotateY(-12deg);
    }
    17% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    25% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
  }
  @-webkit-keyframes pies {
    0% {
      stroke-dashoffset: 199;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes pies {
    0% {
      stroke-dashoffset: 199;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes graphic {
    0% {
      stroke-dashoffset: 100;
      opacity: 1;
    }
    100% {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }
  @keyframes graphic {
    0% {
      stroke-dashoffset: 100;
      opacity: 1;
    }
    100% {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }
  @-webkit-keyframes star1 {
    0% {
      -webkit-transform: translate(0, 0) scale(1);
              transform: translate(0, 0) scale(1);
    }
    100% {
      -webkit-transform: translate(40px, 160px) rotate(300deg) scale(0.8);
              transform: translate(40px, 160px) rotate(300deg) scale(0.8);
    }
  }
  @keyframes star1 {
    0% {
      -webkit-transform: translate(0, 0) scale(1);
              transform: translate(0, 0) scale(1);
    }
    100% {
      -webkit-transform: translate(40px, 160px) rotate(300deg) scale(0.8);
              transform: translate(40px, 160px) rotate(300deg) scale(0.8);
    }
  }
  @-webkit-keyframes star2 {
    0% {
      -webkit-transform: translate(0, 0) scale(1);
              transform: translate(0, 0) scale(1);
    }
    100% {
      -webkit-transform: translate(-20px, 120px) rotate(300deg) scale(0.8);
              transform: translate(-20px, 120px) rotate(300deg) scale(0.8);
    }
  }
  @keyframes star2 {
    0% {
      -webkit-transform: translate(0, 0) scale(1);
              transform: translate(0, 0) scale(1);
    }
    100% {
      -webkit-transform: translate(-20px, 120px) rotate(300deg) scale(0.8);
              transform: translate(-20px, 120px) rotate(300deg) scale(0.8);
    }
  }
  @-webkit-keyframes world {
    0% {
      -webkit-transform: translate(0, 0) scale(1);
              transform: translate(0, 0) scale(1);
    }
    100% {
      -webkit-transform: translate(20px, 130px) rotate(340deg) scale(0.8);
              transform: translate(20px, 130px) rotate(340deg) scale(0.8);
    }
  }
  @keyframes world {
    0% {
      -webkit-transform: translate(0, 0) scale(1);
              transform: translate(0, 0) scale(1);
    }
    100% {
      -webkit-transform: translate(20px, 130px) rotate(340deg) scale(0.8);
              transform: translate(20px, 130px) rotate(340deg) scale(0.8);
    }
  }
  @-webkit-keyframes sheet1 {
    0% {
      -webkit-transform: translate(0, 0) scale(1);
              transform: translate(0, 0) scale(1);
    }
    100% {
      -webkit-transform: translate(-50px, 150px) rotate(-60deg) scale(0.8);
              transform: translate(-50px, 150px) rotate(-60deg) scale(0.8);
    }
  }
  @keyframes sheet1 {
    0% {
      -webkit-transform: translate(0, 0) scale(1);
              transform: translate(0, 0) scale(1);
    }
    100% {
      -webkit-transform: translate(-50px, 150px) rotate(-60deg) scale(0.8);
              transform: translate(-50px, 150px) rotate(-60deg) scale(0.8);
    }
  }
  @-webkit-keyframes sheet2 {
    0% {
      -webkit-transform: translate(0, 0) scale(1);
              transform: translate(0, 0) scale(1);
    }
    100% {
      -webkit-transform: translate(30px, 80px) rotate(90deg) scale(0.7);
              transform: translate(30px, 80px) rotate(90deg) scale(0.7);
    }
  }
  @keyframes sheet2 {
    0% {
      -webkit-transform: translate(0, 0) scale(1);
              transform: translate(0, 0) scale(1);
    }
    100% {
      -webkit-transform: translate(30px, 80px) rotate(90deg) scale(0.7);
              transform: translate(30px, 80px) rotate(90deg) scale(0.7);
    }
  }
  @-webkit-keyframes watch {
    0% {
      -webkit-transform: translate(0, 0) scale(1);
              transform: translate(0, 0) scale(1);
    }
    100% {
      -webkit-transform: translate(-40px, 80px) rotate(-45deg) scale(0.7);
              transform: translate(-40px, 80px) rotate(-45deg) scale(0.7);
    }
  }
  @keyframes watch {
    0% {
      -webkit-transform: translate(0, 0) scale(1);
              transform: translate(0, 0) scale(1);
    }
    100% {
      -webkit-transform: translate(-40px, 80px) rotate(-45deg) scale(0.7);
              transform: translate(-40px, 80px) rotate(-45deg) scale(0.7);
    }
  }
  @-webkit-keyframes rotate_clockwise {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate_clockwise {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rotate_anticlockwise {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
    }
  }
  @keyframes rotate_anticlockwise {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
    }
  }

  /*step4*/
  /*General---------------------------------------------------------------------*/

  .step-4 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0 3rem;
      position: relative;
      z-index: 9999;
      margin-top: 250px
  }

  svg.svg-step-4 {
    max-width: px;
    display: block;
    margin: auto;
  }

  /*SVG Elements----------------------------------------------------------------*/
  /*Wheels*/
  #wheel_big, #wheel_small {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }

  #wheel_big {
    -webkit-animation: rotate_clockwise linear infinite;
            animation: rotate_clockwise linear infinite;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
  }

  #wheel_small {
    -webkit-animation: rotate_anticlockwise linear infinite;
            animation: rotate_anticlockwise linear infinite;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
  }

  /*Clock*/
  #needle {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-animation: rotate_clockwise 6s linear infinite;
            animation: rotate_clockwise 6s linear infinite;
  }

  /*Arrows*/
  #arrow_down {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation: arrow_bottom 3s cubic-bezier(0.39, 0.6, 0.47, 0.67) infinite;
            animation: arrow_bottom 3s cubic-bezier(0.39, 0.6, 0.47, 0.67) infinite;
    opacity: 0;
  }

  #arrow_up {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation: arrow_up 3s cubic-bezier(0.39, 0.6, 0.47, 0.67) infinite;
            animation: arrow_up 3s cubic-bezier(0.39, 0.6, 0.47, 0.67) infinite;
    opacity: 0;
  }

  /*Glasses -> Fills*/
  #glass_1_fill, #glass_2_fill, #glass_3_fill, #glass_4_fill, #glass_5_fill, #glass_6_fill, #glass_7_fill, #glass_8_fill {
    stroke-dasharray: 99;
    stroke-dashoffset: 100;
    -webkit-animation: glass 6s ease-out infinite;
            animation: glass 6s ease-out infinite;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }

  #glass_1_fill, #glass_3_fill, #glass_5_fill, #glass_7_fill {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }

  #glass_2_fill, #glass_4_fill, #glass_6_fill, #glass_8_fill {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }

  /*Cubes*/
  .cubes {
    opacity: 0;
    -webkit-animation: cubes 3s ease infinite;
            animation: cubes 3s ease infinite;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }

  #cube2 {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }

  #cube3 {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }

  #main-cube1, #main-cube2, #main-cube3 {
    stroke-dasharray: 99;
    stroke-dashoffset: 100;
    -webkit-animation: follow_path 3s ease infinite;
            animation: follow_path 3s ease infinite;
  }

  #main-cube2 {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }

  #main-cube3 {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }

  /*Keyframes-------------------------------------------------------------------*/
  @-webkit-keyframes follow_path {
    0% {
      stroke-dashoffset: 100;
    }
    8% {
      stroke-dashoffset: 100;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes follow_path {
    0% {
      stroke-dashoffset: 100;
    }
    8% {
      stroke-dashoffset: 100;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes cubes {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes cubes {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes glass {
    0% {
      stroke-dashoffset: 100;
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
    }
    20% {
      stroke-dashoffset: 0;
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
    40% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
    60% {
      stroke-dashoffset: 0;
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes glass {
    0% {
      stroke-dashoffset: 100;
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
    }
    20% {
      stroke-dashoffset: 0;
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
    40% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
    60% {
      stroke-dashoffset: 0;
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes arrow_bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10% {
      opacity: 1;
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    35% {
      opacity: 0;
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes arrow_bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10% {
      opacity: 1;
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    35% {
      opacity: 0;
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes arrow_up {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10% {
      opacity: 1;
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
    }
    35% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes arrow_up {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10% {
      opacity: 1;
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
    }
    35% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes rotate_clockwise {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate_clockwise {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rotate_anticlockwise {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
    }
  }
  @keyframes rotate_anticlockwise {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
    }
  }
  .relative{
      position: relative;
      z-index: 9999
  }

  /* start new web items */


}
._slider .carousel-fade .carousel-inner .active, ._slider .carousel-fade .carousel-inner .next.left, ._slider .carousel-fade .carousel-inner .prev.right{
  float: none !important
}
._serv-section{
  .-info-animate1 {
    opacity: 0 !important;
  }
  .-info-animate2 {
    opacity: 0 !important;
  }
  .-info-animate3 {
    opacity: 0 !important;
  }

}
.remove-margin-top{margin-top: 0px !important;}
