$primaryColor: #0288D1;
$whitecolor: #fff;
$right: right;
$left: left;
$textRight: right;
$textLeft: left;
$textCenter: center;
._navbar-top {
  width: 100%;
  height: 50px;
}
* {
  font-family: "droid";
}
.-navbar-top {
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0,0,0,.2);
  padding: 5px 0;
  float: right;
  width: 100%;
  z-index: 33;
  position: fixed;
  .-menu {
    margin: 30px 0 0;
    width: 50%;
    float: left;
    li {
      float: right;
      display: inline-block;
      padding-left: 5px;
      a {
        color: $whitecolor;
        display: inline-block;
        font-size: 15px;
        padding: 10px 5px;
        font-weight: bold;
        text-decoration: none;
        color: #414141;
      }
    }
  }
  .-logo {
    float: right;
    margin-right: 120px;
    img {
      width: 90px;
    }
  }
}

@media (max-width:930px) {
  .-navbar-top{
    .-menu {
    width: 70%
}
  }
}
.-tap-button{
display: none;
}
@media (max-width:768px) {
  .-navbar-top {
    // background-color: #fff;
    // box-shadow: 0px 2px 5px rgba(0,0,0,.3);
    padding: 5px 0;
    float: right;
    width: 100%;
    z-index: 33;
    position: fixed;
    background: #fff;
      box-shadow: 0px 0px 25px rgba(0,0,0,.2);
      .-tap-button{
        float: $left;
        display: block !important;
        margin-top: 35px;
        cursor: pointer;
        i{
          font-size: 28px
        }
      }
    .-menu {
      width: 100%;
      float: $left;
      background: #ddd;
      position: fixed;
      top: -30px !important;
      right: -100%;
      transition: all .4s ease-in-out;

      li {
        float: left !important;
        width: 100%;
        display:block !important;
        padding: 0px 10px;
        text-align: $right;
        a {
          color: $whitecolor;
          display: block;
          font-size: 15px;
          padding: 10px 5px;
          font-weight: bold;
          text-decoration: none;
          color: #414141;
          text-align: $right;
          transition: all .4s ease-in-out;
          background: #ddd
        }
        a:hover{
          background: #fff;
          box-shadow: 0px 4px 10px rgba(0,0,0,.5);
        }

      }
    }
    .right-0{
      right: 0px
    }

    .-logo {
      float: right;
      margin-right: 20px;
      img {
        width: 90px;
      }
    }
  }
}

._slider {
  float: $right;
  width: 100%;
  .carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
  }
  .carousel-fade .carousel-inner .item,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    opacity: 0;
  }
  .carousel-fade .carousel-inner .active,
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  .carousel-fade .carousel-inner .next,
  .carousel-fade .carousel-inner .prev,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-control {
    z-index: 2;
  }
  .carousel,
  .carousel-inner,
  .carousel-inner .item {
    height: 650px ;
  }
  .item:nth-child(1) {
    background: $primaryColor;
  }
  .item:nth-child(2) {
    background: #3F51B5;
  }
  .item:nth-child(3) {
    background: #E46653;
  }
  .item:nth-child(4) {
    background: rgba(0,0,0,.5);
  }
  .-text-slide-item {
    margin-top: 200px;
  }
  .-item-content {
    float: $right;
    padding: 0 50px;
    h3 {
      color: #FFF;
      text-align: $textCenter;
      font-weight: bold;
      font-size: 40px;
      line-height: 65px;
      margin-bottom: 50px
    }
    p {
      color: #fff;
      margin-top: 30px;
      font-size: 17px;
      font-weight: lighter;
      line-height: 35px;
      text-align: $textCenter;
    }
  }
}
@media (max-width:767px) {
  .carousel,
  .carousel-inner,
  .carousel-inner .item {
    height: 750px !important;
  }
}
.margin-top {
  padding-top: 150px;
}
.-item-content {
  margin-top: 90px;
}
.-editor {
  background: #000;
  padding: 20px 10px 20px 30px;
  font-family: cursive;
  color: #fff;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  font-size: 13px;
  height: 320px;
  direction: ltr;
  border-radius: 20px;
  float: $right;
}
.typed-cursor {
  opacity: 1;
  display: inline-block;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// service sections
._serv {
  padding: 100px 0;
  width: 100%;
  float: $right;
  .-serv-right-content {
    h4 {
      font-size: 23px;
      font-family: JF Flat Regular !important;
      font-weight: bold;
      margin: 0 0 30px;
    }
    p {
      font-size: 17px;
      line-height: 32px;
      font-weight: 500;
      color: #414141;
    }
    .-border-style {
      border: 2px solid #E46653;
      color: #414141;
      margin-top: 20px;
    }
    .-border-style:hover {
      color: $primaryColor;
    }
  }
  .-serv-left-content {
    .serv-item {
      h3 {
        font-size: 13px;
        font-weight: bold;
      }
    }
    .-images-full {
      text-align: center;
    }
    .-images-full img {
      width: 100%;
    }
  }
}
._how-buld {
  .-right-side {
    position: relative;
    top: -70px;
  }
  .-left-side {
    h4 {
      font-size: 22px;
      font-weight: bold;
      margin: 0 0 20px;
    }
    p {
      font-size: 17px;
      line-height: 32px;
      font-weight: 500;
      color: #414141;
    }
  }
}
.-hint {
  display: block;
  text-align: center;
  margin-top: 25px;
  font-family: JF Flat Regular !important;
  font-weight: bold;
  font-size: 17px;
}
.-custumer {
  margin-top: 70px;
  width: 100%;
  height: 760px;
  h4 {
    border-bottom: 2px solid #414141;
    float: $right;
    padding: 10px 0;
  }
  .-cu-item:hover {
    box-shadow: 0 1px 10px rgba(0,0,0,.5);
    transform: scale(1.05);
  }
  .-cu-item {
    float: right;
    width: 100%;
    margin-top: 50px;
    padding: 20px 10px;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    .top0 {
      bottom: 0 !important;
      transition: all 0.4s ease-in-out !important;
    }
    .-open {
      cursor: pointer;
      width: 15px;
      height: 15px;
      float: left;
    }
    .-close {
      cursor: pointer;
      width: 15px;
      height: 15px;
      float: left;
    }
    .-cu-img {
      width: 100%;
      height: 174px;
    }
    .-cu-panel {
      position: absolute;
      bottom: -100%;
      right: 0;
      padding: 20px 10px;
      background: #fff;
      z-index: 99;
      transition: all 0.4s ease-in-out !important;
      span {
        font-size: 16px !important;
        display: block;
        width: 100%;
        text-align: center;
        font-family: JF Flat Regular !important;
        font-weight: bold;
      }
      p {
        font-size: 14px;
        margin-top: 20px;
        text-align: center !important;
        height: 72px !important;
        overflow: hidden;
        line-height: 25px
      }
      .-cu-links {
        margin: 0;
        text-align: center;
        margin-top: 15px;
        li {
          display: inline-block;
          text-align: center;
          a {
            background-color: $primaryColor;
            display: inline-block;
            border-radius: 100%;
            color: #fff;
            width: 35px;
            height: 35px;
            box-shadow: 0 0 7px rgba(0,0,0,.3);
            text-align: center;
            line-height: 35px;
            padding: 0 !important;
            i {
              padding: 0 !important;
              margin: 0 !important;
            }
          }
        }
      }
    }
    span {
      display: -inline-block;
      font-size: 16px;
      float: right;
    }
    .-cu-title {
      margin-top: 20px;
      float: right;
      width: 100%;
      i {
        float: left;
        margin-top: 5px;
        font-size: 17px !important;
        display: inline-block;
      }
    }
  }
}
// animate logo
.po {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#scene {
  position: relative;
  width: 100%;
}
.animate-durations {
  animation-duration: 20s !important;
}
.position-abs {
  position: absolute;
  top: 30px;
  left: 40%;
  color: orange !important;
}
.-title {
  display: block;
  color: aqua;
}
._serv-section {
  position: relative;
  z-index: 16;
  .-bottom-navbar {
    width: 100%;
    background: #0288D1;
  }
}
.remove-margin {
  transform: scale(.7);
}

._serv-section {
  width: 100%;
  float: left;
  margin-top: 150px !important;
  .-bag {
    float: right;
    margin-right: 25%;
    margin-top: 50px;
    .-bag-image {
      animation: wrapperapp 1s 12s forwards linear;
      top: 0;
      position: relative;
      width: 350px;
      img {}
      .-front-bag {
        position: absolute;
        z-index: 14;
        width: 350px;
        left: 0;
        top: 38px;
        animation: bag 1s 6s forwards linear;
      }
      .-back-bag {
        position: absolute;
        z-index: 1;
        left: 0;
        width: 350px;
        animation: bag 1s 6s forwards linear; //                    moveupSecondAnimate .3s 5s forwards linear ;
      }
      .-animate-option {
        position: absolute;
        z-index: 2;
        bottom: -150px;
        width: 50px;
        box-shadow: 0 1px 1px rgba(0,0,0,.5);
        background: #2196F3;
        overflow: hidden;
        padding: 5px; //                border-radius: 100%;
      }
      .-icon-1 {
        animation: moveup 1s 1s forwards linear , moveupSecondAnimate 0.3s 5s forwards linear;
        height: 50px; //                animation-fill-mode: forwards
      }
      .-icon-2 {
        animation: moveup2 1s 1s forwards linear , moveup2SecondAnimate 0.3s 5s forwards linear;
        height: 50px;
      }
      .-icon-3 {
        animation: moveup3 1s 2s forwards linear , moveup3SecondAnimate 0.3s 5.3s forwards linear;
        height: 50px;
      }
      .-icon-4 {
        animation: moveup4 1s 2s forwards linear, moveup4SecondAnimate 0.3s 5.3s forwards linear;
        height: 50px;
      }
      .-icon-5 {
        z-index: 1;
        animation: moveup5 2s 3s both linear , width 1s 7s forwards linear , borderrad 1s 12s forwards linear;
        width: 250px;
        border-radius: 0;
        box-shadow: none;
      }
      .item-rotate {
        position: absolute;
        width: 350px;
        z-index: 12;
        animation: rotates 1s 8s both linear ,;
      }
      .-icon-6 {
        z-index: 2;
        border-radius: 0;
        box-shadow: none;
        width: 200px;
        animation: moveup6 2s 5s both linear , op 0.3s 7s forwards linear;
        width: 105px;
        bottom: 150px;
        left: 120px;
        opacity: 0;
      }
    }
  }
  .-serv-item-heade {
    h4 {
      text-align: center;
      border-bottom: 2px solid #ccc;
      float: right;
      padding-bottom: 20px;
    }
  }
  .right-section-serv {
    p {
      text-align: right;
    }
  }
}
.po {
  z-index: 14;
  .bg-trans {
    height: 100vh;
    width: 100%;
    background: rgba(250,250,250,1);
  }
  .-cover-bg-trans {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 14;
    background: rgba(250,250,250,.9);
  }
}
.lint-item {
  border: 1px solid #000;
  border-right: 0;
  border-left: 0;
  height: 150px;
}
.-serv-item {
  .-icon-head {
    width: 50px;
    height: 50px;
    background: #2196F3;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
  }
}
.icon-logo-animate {
  position: absolute;
  display: none;
  width: 350px;
  left: 70px;
  z-index: 11;
  top: -150px;
  img {
    width: 50px;
    height: 50px;
    float: left;
  }
  .i-row {
    position: absolute;
    top: 0;
  }
}
.right-logo-area {
  position: relative;
  animation: right-area 1s 9s forwards linear;
  z-index: 11;
}
.left-logo-area {
  position: relative;
  animation: left-area 1s 10s forwards linear;
  z-index: 11;
}
.bottom-logo-area {
  position: relative;
  animation: bottom-area 1s 11s forwards linear;
  z-index: 11;
}
.top-logo-area {
  position: relative;
  animation: top-area 1s 11s forwards linear;
  z-index: 11;
}
.-info-animate1 {
  animation: infoanimate1 1s 13s forwards linear;
  opacity: 0;
}
.-info-animate2 {
  animation: infoanimate2 1s 13.5s forwards linear;
  opacity: 0;
}
.-info-animate3 {
  animation: infoanimate3 1s 14s forwards linear;
  opacity: 0;
}
.-icon-5 {
  width: 350px;
  height: 250px;
  background: url("..//images/circles-25.jpg") !important;
  background-size: 100% 100% !important;
  box-shadow: 0 1px 1px rgba(0,0,0,.5);
  border: 5px solid #000;
  border-radius: 10px !important;
}
.skew-item {
  width: 100px;
  height: 25px;
  float: right;
  border: 1px solid #000;
  border-right: none;
  border-top: 0;
  transform: skewX(40deg);
}
@media(max-width:767px){
  ._serv-section{
    margin-top: 220px !important;
  }
}
.scales{
  transform: scale(.5);
}
.infograph {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  line-height: 153px;
  background: #0288D1;
  border-radius: 100%;
  margin-top: 50px;
  img {
    width: 140px;
    height: 140px;
    border-radius: 100%;
  }
}
.bx-wrapper{
  overflow: hidden;
}
.animate-infograph {
  margin-top: 50px;
  text-align: center;
  float: right;
}
.animate-infograph a {
  border: 2px solid #0288D1;
  color: #414141;
}
.full-width-btn {
  width: 100%;
  border: 2px solid $primaryColor;
  margin-top: 40px;
  display: block;
}

// video section
._video-section {
  background: url("..//images/_minflat__dark_material_design_wallpaper__4k__by_dakoder-d8fjqzu.jpg") center center;
  background-size: cover;
  float: right;
  width: 100%;
  margin-top: 50px;
  .contact-us {
    background: #fff;
    display: block;
    border: 2px solid $primaryColor;
  }
  .-cover {
    background: rgba(0,0,0,.5);
    padding: 50px 0;
  }
}
@media(max-width:767px){
  ._video-section {
    margin-top: 100px !important;

}
}
.border-frame {
  background: #000;
  padding: 20px;
  border-radius: 20px;
}
.-video-disc {
  h4 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  p {
    color: #fff;
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
  }
}
// logo slider
.-logo-slider {
  width: 1200px;
  border: 1px solid #000;
  height: 150px;
  div {
    float: right;
    padding-left: 25px;
    img {
      width: 100px;
      height: 100px;
    }
  }
}
// footer
._footer {
  padding: 50px 0;
  width: 100%;
  float: $right;
  span {
    font-size: 18px;
    display: block;
    margin: 20px 0;
    float: $right;
    width: 100%;
    font-weight: bold;
  }
  .footer-about {
    p {
      font-size: 13px;
      line-height: 25px;
    }
  }
  .-footer-menu {
    li {
      float: $right;
      width: 33.333333%;
      padding: 5px 0;
      a {
        display: inline-block;
        width: 100%;
        float: $right;
        font-size: 13px;
        color: #414141;
        font-weight: 100;
      }
    }
    a:hover {
      color: #000;
      font-weight: bold;
    }
  }
  .contact-info {
    span {
      font-size: 13px !important;
      margin: 10px 0;
      float: none !important;
      font-weight: bold;
    }
    li {
      width: 100% !important;
      padding: 0 !important;
    }
  }
}
.-rights {
  width: 100%;
  float: $right;
  background: #ddd;
  padding: 10px 0;
  text-align: center;
}
// service section
._service {
  float: right;
  width: 100%;
  padding: 150px 0 0;
  .-heade-of-page {
    h4 {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
    }
    .form-wrapper {
      padding: 50px 0;
      label {
        font-size: 15px !important;
        top: -5px !important;
        right: 20px;
      }
      .input-field {
        margin-bottom: 20px;
        select {
          display: block;
          border: none !important;
          border-bottom: 1px solid #000 !important;
          color: #414141;
          height: 33px;
          box-shadow: 0 0 0 rgba(0,0,0,0) !important;
        }
        .hints- {
          span {
            color: red;
          }
        }
        select:focus {
          border: none !important;
          box-shadow: 0 0 0 rgba(0,0,0,0) !important;
        }
        .color-pick li:last-child,
        .websites li:last-child {
          display: none;
        }
        .color-pick li {
          width: 20px;
          height: 20px;
          background: #ccc;
          border: 1px solid rgba(0,0,0,.4);
          display: inline-block;
          margin-right: 2px;
          float: right;
          position: relative;
          overflow: hidden;
        }
        .color-pick li:hover .remove-color {
          top: 1px;
        }
        .remove-color {
          position: absolute;
          display: block;
          top: -100px;
          left: 3px;
          transition: all 0.4s ease-in-out;
          cursor: pointer;
        }
      }
      input {
        font-size: 15px;
      }
    }
  }
}
.fix-button {
  border: 2px solid #0288D1 !important;
  color: #414141 !important;
  padding: 15px 50px !important;
  margin-top: 20px !important;
  background: #fff !important;
  line-height: 15px !important;
  height: 50px !important;
}
.clear {
  clear: both;
}
.display-none {
  opacity: 0;
  height: 50px !important;
}
.margin-top-50 {
  margin-top: 50px;
  textarea {
    font-size: 15px;
  }
}
.-more {
  li {
    font-size: 16px;
    margin: 15px 0;
    a {
      text-decoration: none;
      margin-right: 10px;
    }
    span {
      font-family: JF Flat Regular !important;
    }
  }
}

.work-p{
  font-size: 18px;
  line-height: 30px;
  margin-top: 25px;
}
.bxslider{
width: 100% !important;
  height: 150px !important;
  display: block;
  border: none !important;

  li{
    float: right !important;
    display: block;
    img{
      width: 160px;
      height: 70px
    }
  }
}
.bx-wrapper{
  max-width: 100% !important;
}
._logo-ticker{
  margin: 50px 0 0 0
}
.-head-logo{
  h4{
    text-align: center;
    font-size: 22px;
    margin-bottom: 50px
  }
}
.services-btn{
  background: #FFF;
margin-top: 14px;
}
.services-btn:hover{
  background: #fff
}
@media (max-width:790px) {
  .slide-scal{
  transform: scale(.5);
  }
  .top-50{
    top: -150px;
    position: relative;
  }
  .page-editor-animation{
    position: relative;
    top: 50px
  }
}
.width-100{
  width: 100%
}
*{
  animation-play-state: paused !important;
}
.animates{
  animation-play-state:running !important;
}
