
@font-face {
	font-family: "droid";
	src: url('..//fonts/droid/DroidArabicKufi.eot');
	src: url('..//fonts/droid/DroidArabicKufi.eot?#iefix') format('embedded-opentype'),
		url('..//fonts/droid/DroidArabicKufi.svg#droid') format('svg'),
		url('..//fonts/droid/DroidArabicKufi.woff') format('woff'),
		url('..//fonts/droid/DroidArabicKufi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "droid-bold";
	src: url('..//fonts/droid/DroidArabicKufi-bold.eot');
	src: url('..//fontsdroid//DroidArabicKufi-bold.eot?#iefix') format('embedded-opentype'),
		url('..//fonts/droid/DroidArabicKufi-bold.svg#droid') format('svg'),
		url('..//fonts/droid/DroidArabicKufi-bold.woff') format('woff'),
		url('..//fonts/droid/DroidArabicKufi-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}