@font-face{font-family:"JF Flat Regular";src:url('font/JF-Flat-regular.eot');src:url('font/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
url('font/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
url('font/JF-Flat-regular.woff') format('woff'),
url('font/JF-Flat-regular.ttf') format('truetype');font-weight:normal;font-style:normal;}
