@font-face{font-family:'AraJozoor-Regular';src:url('font/AraJozoor-Regular.eot');src:local('☺'), url('font/AraJozoor-Regular.woff') format('woff'), url('font/AraJozoor-Regular.ttf') format('truetype'), url('font/AraJozoor-Regular.svg') format('svg');font-weight:normal;font-style:normal;}