/*first animate image */
@keyframes moveup{
    0%{
        bottom: -120px;
        right: 50px
    }
    50%{
        bottom: 0px;
        right: 50px
    }
    100%{
        bottom: 40px;
        right: -20px
    }
}
/*first animate image second anmiation*/
@keyframes moveupSecondAnimate{
    0%{
        right: -20px;
        bottom: 40px
    }
    50%{

        right: 30px
    }
    100%{

        bottom: 60px;

        right: 70px;

    }
}
/*moveup2SecondAnimate animate image first  anmiation*/

@keyframes moveup2{
    0%{
        bottom: -120px;
        left: 50px
    }
    50%{
        bottom: 0px;
        left: 50px
    }
    100%{
        bottom: 40px;
        left: -20px
    }
}
@keyframes moveup2SecondAnimate{
    0%{
        bottom: 40px;
        left: -20px
    }
    50%{

    }
    100%{
        bottom: 60px;
        left: 70px;
    }
}
/*end*/
@keyframes moveup7{
    0%{
        bottom: -120px;
        right: 50px
    }
    50%{
        bottom: 0px;
        right: 50px
    }
    100%{
        bottom: 40px;
        right: -20px
    }
}
/*start moveup3SecondAnimate first animations */
@keyframes moveup3{
    0%{
        bottom: -120px;
        left: 80px
    }
    50%{
        bottom: 20px;
        left: 80px
    }
    100%{
        bottom:130px;
        left: -20px
    }
}
@keyframes moveup3SecondAnimate{
    0%{
        bottom:130px;
        left: -20px
    }
    50%{
    }
    100%{
        bottom:60px;
        left: 125px
    }
}
/*end*/
/*start moveup4SecondAnimate animations */
@keyframes moveup4{
    0%{
        bottom: -120px;
        right: 80px
    }
    50%{
        bottom: 20px;
        right: 80px
    }
    100%{
        bottom:130px;
        right: -20px
    }
}
@keyframes moveup4SecondAnimate{
    0%{
        bottom:130px;
        right: -20px
    }
    50%{
    }
    100%{
        bottom:60px;
        right: 123px
    }
}
/*end*/
@keyframes moveup5{
    0%{
        bottom: -250px ;
        left: 50px
    }
    50%{
        bottom: -20px;
        left: 50px
    }
    100%{
        bottom:50px ;
        left:50px
    }
}@keyframes moveup6{
    0%{
        opacity: 0
    }


    100%{
        opacity: 1
    }
}
@keyframes bag{
    0%{
opacity: 1   }
    100%{
opacity: 0   }
}@keyframes width{
    0%{
        width: 250px;
        bottom:50px
    }
    100%{
        width: 350px;
        bottom:-100px

    }
}
@keyframes icowidth{
    0%{
        width: 50px;
    }
    100%{
        width:40px

    }
}
@keyframes rotates{
    0%{
        transform: rotate(0deg) scale(1);
        left: 0px
    }
    100%{
        transform: rotate(-45deg) scale(.7);
        left: 100px;


    }
}

@keyframes right-area{
    0%{
        left: 0px;
        top: 0px;
    }
    100%{
        left: 0px;
        top: -102px;


    }
}

@keyframes left-area{
    0%{
        left: 0px;
        top: 0px;
    }
    100%{
        left: 0px;
        top: 102px;


    }
}
@keyframes bottom-area{
    0%{
        left: 0px;
        top: 0px;
    }
    100%{
        left: 0px;
        top: 51px;


    }
}
@keyframes top-area{
    0%{
        left: 0px;
        top: 0px;
    }
    100%{
        left: 0px;
        top: -51px;


    }
}

@keyframes rotatelogo{
    0%{
        transform: rotatey(0deg);
    }
    100%{
        transform: rotatex(180deg)


    }
}

@keyframes borderrad{
    0%{
        border-radius: 10px;
        height: 250px;
        bottom: -100px;

    }
    100%{
        border-radius: 100%;
        height: 350px;
        bottom: -150x;





    }
}

@keyframes wrapperapp{
    0%{
    top: 0px
    }
    100%{
  top: -100px
    }
}

@keyframes infoanimate1{
    0%{
opacity: 0   }
    100%{
  opacity: 1
    }
}
@keyframes infoanimate2{
    0%{
opacity: 0   }
    100%{
  opacity: 1
    }
}
@keyframes infoanimate3{
    0%{
opacity: 0   }
    100%{
  opacity: 1
    }
}
