.it-cust-nav{
	height:25px;
	width:100%;
	background:#333;
	position:fixed;
	z-index:99;
	padding:5px;
}
.it-mgl{
	margin-right:15px;
}
.it-cf{
	color:#fff;
	font-size:12px;
	text-decoration: none;
}
.it-cf:hover{
	color:#fff;
}
.it-img{
	width:20px;height:17px;border:1px solid #333;margin-left:15px;
}

.color-picks input:hover{
	cursor:crosshair !important;
}

.it-input-colors{
	border-style:none !important;
	width:20px !important;
	height:20px !important;
	display:block !important;
}

.it-nav{
	width:50px;height:50px;border-bottom-left-radius:50px;
}
.it-ico{
	font-size:15px;
	margin-right:-7px;
	margin-top:5px;
}