

.new-web svg {
  width: 700px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
svg #service1, svg #service2, svg #service3, svg #service4, svg #service5, svg #service6, svg #service7, svg #service8 {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-animation: appear 1s 1;
          animation: appear 1s 1;
  -webkit-animation-timing-function: cubic-bezier(0.63, 0.09, 0.3, 1.43);
          animation-timing-function: cubic-bezier(0.63, 0.09, 0.3, 1.43);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: scale(0);
          transform: scale(0);
}
svg #service2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
svg #service3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
svg #service4 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
svg #service5 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
svg #service6 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
svg #service7 {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
svg #service8 {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

/*Keyframes*/
@-webkit-keyframes appear {
  0% {
    -webkit-transform: scaleX(0) scaleY(0) translateY(0);
            transform: scaleX(0) scaleY(0) translateY(0);
  }
  70% {
    -webkit-transform: scaleX(0.7) scaleY(0.7) translateY(0);
            transform: scaleX(0.7) scaleY(0.7) translateY(0);
  }
  80% {
    -webkit-transform: scaleX(0.9) scaleY(0.5) translateY(5px);
            transform: scaleX(0.9) scaleY(0.5) translateY(5px);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1) translateY(0);
            transform: scaleX(1) scaleY(1) translateY(0);
  }
}
@keyframes appear {
  0% {
    -webkit-transform: scaleX(0) scaleY(0) translateY(0);
            transform: scaleX(0) scaleY(0) translateY(0);
  }
  70% {
    -webkit-transform: scaleX(0.7) scaleY(0.7) translateY(0);
            transform: scaleX(0.7) scaleY(0.7) translateY(0);
  }
  80% {
    -webkit-transform: scaleX(0.9) scaleY(0.5) translateY(5px);
            transform: scaleX(0.9) scaleY(0.5) translateY(5px);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1) translateY(0);
            transform: scaleX(1) scaleY(1) translateY(0);
  }
}
/*iiiiiiiiiiiiiiiiiiiiiiiiiiiiii start res[onsive devise ]*/



.containers {
  margin: 0 auto;
  max-width: 720px;
  width: 90%;
}

.containers > section {
  margin: 6em 0;
}

figure {
  margin: 0;
}

/*--------------------------------------------------------------------
    Page Editor
 ---------------------------------------------------------------------*/
.page-editor-animation {
  position: relative;
  margin: 3em auto;
  width: 450px;
}
.page-editor-animation img {
  max-width: 100%;
}

.page-editor__element {
  position: absolute;
  top: 0;
  z-index: 1;
}

.page-editor__add {
  -webkit-animation: page-editor__add 10s infinite both;
  -ms-animation: page-editor__add 10s infinite both;
  -moz-animation: page-editor__add 10s infinite both;
  -o-animation: page-editor__add 10s infinite both;
  animation: page-editor__add 10s infinite both;
  z-index: 99;
  left: 0;
  top: 0;
}

.page-editor__cursor {
  -webkit-animation: page-editor__cursor 10s infinite both;
  -ms-animation: page-editor__cursor 10s infinite both;
  -moz-animation: page-editor__cursor 10s infinite both;
  -o-animation: page-editor__cursor 10s infinite both;
  animation: page-editor__cursor 10s infinite both;
  z-index: 100;
}

.page-editor__panel {
  -webkit-animation: page-editor__panel 10s infinite both;
  -ms-animation: page-editor__panel 10s infinite both;
  -moz-animation: page-editor__panel 10s infinite both;
  -o-animation: page-editor__panel 10s infinite both;
  animation: page-editor__panel 10s infinite both;
  -webkit-transform-origin: 15% 15%;
  -ms-transform-origin: 15% 15%;
  -moz-transform-origin: 15% 15%;
  -o-transform-origin: 15% 15%;
  transform-origin: 15% 15%;
}

.page-editor__content--1 {
  -webkit-animation: page-editor__content--1 10s infinite both;
  -ms-animation: page-editor__content--1 10s infinite both;
  -moz-animation: page-editor__content--1 10s infinite both;
  -o-animation: page-editor__content--1 10s infinite both;
  animation: page-editor__content--1 10s infinite both;
}

.page-editor__content--2 {
  -webkit-animation: page-editor__content--2 10s infinite both;
  -ms-animation: page-editor__content--2 10s infinite both;
  -moz-animation: page-editor__content--2 10s infinite both;
  -o-animation: page-editor__content--2 10s infinite both;
  animation: page-editor__content--2 10s infinite both;
}

.page-editor__content--3 {
  -webkit-animation: page-editor__content--3 10s infinite both;
  -ms-animation: page-editor__content--3 10s infinite both;
  -moz-animation: page-editor__content--3 10s infinite both;
  -o-animation: page-editor__content--3 10s infinite both;
  animation: page-editor__content--3 10s infinite both;
}

.page-editor__content--4 {
  -webkit-animation: page-editor__content--4 10s infinite both;
  -ms-animation: page-editor__content--4 10s infinite both;
  -moz-animation: page-editor__content--4 10s infinite both;
  -o-animation: page-editor__content--4 10s infinite both;
  animation: page-editor__content--4 10s infinite both;
}

.page-editor__content--5 {
  -webkit-animation: page-editor__content--5 10s infinite both;
  -ms-animation: page-editor__content--5 10s infinite both;
  -moz-animation: page-editor__content--5 10s infinite both;
  -o-animation: page-editor__content--5 10s infinite both;
  animation: page-editor__content--5 10s infinite both;
}

.page-editor__content--2--active {
  -webkit-animation: page-editor__content--2--active 10s infinite both;
  -ms-animation: page-editor__content--2--active 10s infinite both;
  -moz-animation: page-editor__content--2--active 10s infinite both;
  -o-animation: page-editor__content--2--active 10s infinite both;
  animation: page-editor__content--2--active 10s infinite both;
}

.page-editor__placeholder--1 {
  -webkit-animation: page-editor__placeholder--1 10s infinite both;
  -ms-animation: page-editor__placeholder--1 10s infinite both;
  -moz-animation: page-editor__placeholder--1 10s infinite both;
  -o-animation: page-editor__placeholder--1 10s infinite both;
  animation: page-editor__placeholder--1 10s infinite both;
  -webkit-transform-origin: 70% 25%;
  -ms-transform-origin: 70% 25%;
  -moz-transform-origin: 70% 25%;
  -o-transform-origin: 70% 25%;
  transform-origin: 70% 25%;
  z-index: 98;
}

.page-editor__placeholder--2 {
  -webkit-animation: page-editor__placeholder--2 10s infinite both;
  -ms-animation: page-editor__placeholder--2 10s infinite both;
  -moz-animation: page-editor__placeholder--2 10s infinite both;
  -o-animation: page-editor__placeholder--2 10s infinite both;
  animation: page-editor__placeholder--2 10s infinite both;
  z-index: 98;
}

/* Animations */
@-webkit-keyframes page-editor__add {}
@-moz-keyframes page-editor__add {}
@-ms-keyframes page-editor__add {}
@-webkit-keyframes page-editor__cursor {
  0% {
    left: 20px;
  }
  /* Move to add new item button */
  10% {
    left: -230px;
    top: -100px;
  }
  20% {
    left: -230px;
    top: -100px;
  }
  /* Move to second content item */
  28%, 33% {
    left: -110px;
    top: -20px;
  }
  /* Move to third content item */
  40%, 47% {
    left: -20px;
    top: -60px;
  }
  /* Move back to second content item */
  52%, 60% {
    left: -110px;
    top: -40px;
  }
  /* Move active item to placeholder */
  70%, 85% {
    top: -75px;
    left: 20px;
  }
  /* Move back to start */
  90%, 100% {
    left: 20px;
    top: 0;
  }
}
@-moz-keyframes page-editor__cursor {
  0% {
    left: 20px;
  }
  /* Move to add new item button */
  10% {
    left: -230px;
    top: -100px;
  }
  20% {
    left: -230px;
    top: -100px;
  }
  /* Move to second content item */
  28%, 33% {
    left: -110px;
    top: -20px;
  }
  /* Move to third content item */
  40%, 47% {
    left: -20px;
    top: -60px;
  }
  /* Move back to second content item */
  52%, 60% {
    left: -110px;
    top: -40px;
  }
  /* Move active item to placeholder */
  70%, 85% {
    top: -75px;
    left: 20px;
  }
  /* Move back to start */
  90%, 100% {
    left: 20px;
    top: 0;
  }
}
@-ms-keyframes page-editor__cursor {
  0% {
    left: 20px;
  }
  /* Move to add new item button */
  10% {
    left: -230px;
    top: -100px;
  }
  20% {
    left: -230px;
    top: -100px;
  }
  /* Move to second content item */
  28%, 33% {
    left: -110px;
    top: -20px;
  }
  /* Move to third content item */
  40%, 47% {
    left: -20px;
    top: -60px;
  }
  /* Move back to second content item */
  52%, 60% {
    left: -110px;
    top: -40px;
  }
  /* Move active item to placeholder */
  70%, 85% {
    top: -75px;
    left: 20px;
  }
  /* Move back to start */
  90%, 100% {
    left: 20px;
    top: 0;
  }
}
@keyframes page-editor__cursor {
  0% {
    left: 20px;
  }
  /* Move to add new item button */
  10% {
    left: -230px;
    top: -100px;
  }
  20% {
    left: -230px;
    top: -100px;
  }
  /* Move to second content item */
  28%, 33% {
    left: -110px;
    top: -20px;
  }
  /* Move to third content item */
  40%, 47% {
    left: -20px;
    top: -60px;
  }
  /* Move back to second content item */
  52%, 60% {
    left: -110px;
    top: -40px;
  }
  /* Move active item to placeholder */
  70%, 85% {
    top: -75px;
    left: 20px;
  }
  /* Move back to start */
  90%, 100% {
    left: 20px;
    top: 0;
  }
}
@-webkit-keyframes page-editor__panel {
  0%, 10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  /* Show the content panel */
  15%, 58% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  /* Hide the content panel after a content block has been picked */
  61%, 100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-moz-keyframes page-editor__panel {
  0%, 10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  /* Show the content panel */
  15%, 58% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  /* Hide the content panel after a content block has been picked */
  61%, 100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-ms-keyframes page-editor__panel {
  0%, 10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  /* Show the content panel */
  15%, 58% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  /* Hide the content panel after a content block has been picked */
  61%, 100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes page-editor__panel {
  0%, 10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  /* Show the content panel */
  15%, 58% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  /* Hide the content panel after a content block has been picked */
  61%, 100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes page-editor__content--1 {
  0%, 16% {
    opacity: 0;
    margin-left: -10px;
  }
  19%, 54% {
    opacity: 1;
    margin-left: 0;
  }
  56%, 100% {
    opacity: 0;
  }
}
@-moz-keyframes page-editor__content--1 {
  0%, 16% {
    opacity: 0;
    margin-left: -10px;
  }
  19%, 54% {
    opacity: 1;
    margin-left: 0;
  }
  56%, 100% {
    opacity: 0;
  }
}
@-ms-keyframes page-editor__content--1 {
  0%, 16% {
    opacity: 0;
    margin-left: -10px;
  }
  19%, 54% {
    opacity: 1;
    margin-left: 0;
  }
  56%, 100% {
    opacity: 0;
  }
}
@keyframes page-editor__content--1 {
  0%, 16% {
    opacity: 0;
    margin-left: -10px;
  }
  19%, 54% {
    opacity: 1;
    margin-left: 0;
  }
  56%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes page-editor__content--2 {
  0%, 17% {
    opacity: 0;
    margin-left: -10px;
  }
  20%, 24% {
    opacity: 1;
    margin-left: 0;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  30%, 33% {
    opacity: .5;
  }
  37%, 49% {
    opacity: 1;
  }
  52%, 54% {
    opacity: .5;
  }
  56%, 100% {
    opacity: 0;
  }
}
@-moz-keyframes page-editor__content--2 {
  0%, 17% {
    opacity: 0;
    margin-left: -10px;
  }
  20%, 24% {
    opacity: 1;
    margin-left: 0;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  30%, 33% {
    opacity: .5;
  }
  37%, 49% {
    opacity: 1;
  }
  52%, 54% {
    opacity: .5;
  }
  56%, 100% {
    opacity: 0;
  }
}
@-ms-keyframes page-editor__content--2 {
  0%, 17% {
    opacity: 0;
    margin-left: -10px;
  }
  20%, 24% {
    opacity: 1;
    margin-left: 0;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  30%, 33% {
    opacity: .5;
  }
  37%, 49% {
    opacity: 1;
  }
  52%, 54% {
    opacity: .5;
  }
  56%, 100% {
    opacity: 0;
  }
}
@keyframes page-editor__content--2 {
  0%, 17% {
    opacity: 0;
    margin-left: -10px;
  }
  20%, 24% {
    opacity: 1;
    margin-left: 0;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  30%, 33% {
    opacity: .5;
  }
  37%, 49% {
    opacity: 1;
  }
  52%, 54% {
    opacity: .5;
  }
  56%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes page-editor__content--3 {
  0%, 18% {
    opacity: 0;
    margin-left: -10px;
  }
  21%, 36% {
    opacity: 1;
    margin-left: 0;
  }
  39%, 48% {
    opacity: .5;
  }
  54% {
    opacity: 1;
  }
  56%, 100% {
    opacity: 0;
  }
}
@-moz-keyframes page-editor__content--3 {
  0%, 18% {
    opacity: 0;
    margin-left: -10px;
  }
  21%, 36% {
    opacity: 1;
    margin-left: 0;
  }
  39%, 48% {
    opacity: .5;
  }
  54% {
    opacity: 1;
  }
  56%, 100% {
    opacity: 0;
  }
}
@-ms-keyframes page-editor__content--3 {
  0%, 18% {
    opacity: 0;
    margin-left: -10px;
  }
  21%, 36% {
    opacity: 1;
    margin-left: 0;
  }
  39%, 48% {
    opacity: .5;
  }
  54% {
    opacity: 1;
  }
  56%, 100% {
    opacity: 0;
  }
}
@keyframes page-editor__content--3 {
  0%, 18% {
    opacity: 0;
    margin-left: -10px;
  }
  21%, 36% {
    opacity: 1;
    margin-left: 0;
  }
  39%, 48% {
    opacity: .5;
  }
  54% {
    opacity: 1;
  }
  56%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes page-editor__content--4 {
  0%, 19% {
    opacity: 0;
    margin-left: -10px;
  }
  22%, 54% {
    opacity: 1;
    margin-left: 0;
  }
  56%, 100% {
    opacity: 0;
  }
}
@-moz-keyframes page-editor__content--4 {
  0%, 19% {
    opacity: 0;
    margin-left: -10px;
  }
  22%, 54% {
    opacity: 1;
    margin-left: 0;
  }
  56%, 100% {
    opacity: 0;
  }
}
@-ms-keyframes page-editor__content--4 {
  0%, 19% {
    opacity: 0;
    margin-left: -10px;
  }
  22%, 54% {
    opacity: 1;
    margin-left: 0;
  }
  56%, 100% {
    opacity: 0;
  }
}
@keyframes page-editor__content--4 {
  0%, 19% {
    opacity: 0;
    margin-left: -10px;
  }
  22%, 54% {
    opacity: 1;
    margin-left: 0;
  }
  56%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes page-editor__content--5 {
  0%, 20% {
    opacity: 0;
    margin-left: -10px;
  }
  23%, 54% {
    opacity: 1;
    margin-left: 0;
  }
  56%, 100% {
    opacity: 0;
  }
}
@-moz-keyframes page-editor__content--5 {
  0%, 20% {
    opacity: 0;
    margin-left: -10px;
  }
  23%, 54% {
    opacity: 1;
    margin-left: 0;
  }
  56%, 100% {
    opacity: 0;
  }
}
@-ms-keyframes page-editor__content--5 {
  0%, 20% {
    opacity: 0;
    margin-left: -10px;
  }
  23%, 54% {
    opacity: 1;
    margin-left: 0;
  }
  56%, 100% {
    opacity: 0;
  }
}
@keyframes page-editor__content--5 {
  0%, 20% {
    opacity: 0;
    margin-left: -10px;
  }
  23%, 54% {
    opacity: 1;
    margin-left: 0;
  }
  56%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes page-editor__content--2--active {
  0%, 56% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    top: 0;
    left: 0;
  }
  70%, 93% {
    top: -39px;
    left: 125px;
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
    top: -39px;
    left: 125px;
  }
}
@-moz-keyframes page-editor__content--2--active {
  0%, 56% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    top: 0;
    left: 0;
  }
  70%, 93% {
    top: -39px;
    left: 125px;
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
    top: -39px;
    left: 125px;
  }
}
@-ms-keyframes page-editor__content--2--active {
  0%, 56% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    top: 0;
    left: 0;
  }
  70%, 93% {
    top: -39px;
    left: 125px;
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
    top: -39px;
    left: 125px;
  }
}
@keyframes page-editor__content--2--active {
  0%, 56% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    top: 0;
    left: 0;
  }
  70%, 93% {
    top: -39px;
    left: 125px;
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
    top: -39px;
    left: 125px;
  }
}
@-webkit-keyframes page-editor__placeholder--1 {
  0%, 58% {
    opacity: 0;
  }
  62%, 69% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  71%, 75% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  78%, 100% {
    opacity: 0;
  }
}
@-moz-keyframes page-editor__placeholder--1 {
  0%, 58% {
    opacity: 0;
  }
  62%, 69% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  71%, 75% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  78%, 100% {
    opacity: 0;
  }
}
@-ms-keyframes page-editor__placeholder--1 {
  0%, 58% {
    opacity: 0;
  }
  62%, 69% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  71%, 75% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  78%, 100% {
    opacity: 0;
  }
}
@keyframes page-editor__placeholder--1 {
  0%, 58% {
    opacity: 0;
  }
  62%, 69% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  71%, 75% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  78%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes page-editor__placeholder--2 {
  0%, 58% {
    opacity: 0;
  }
  62%, 75% {
    opacity: 1;
  }
  78%, 100% {
    opacity: 0;
  }
}
@-moz-keyframes page-editor__placeholder--2 {
  0%, 58% {
    opacity: 0;
  }
  62%, 75% {
    opacity: 1;
  }
  78%, 100% {
    opacity: 0;
  }
}
@-ms-keyframes page-editor__placeholder--2 {
  0%, 58% {
    opacity: 0;
  }
  62%, 75% {
    opacity: 1;
  }
  78%, 100% {
    opacity: 0;
  }
}
@keyframes page-editor__placeholder--2 {
  0%, 58% {
    opacity: 0;
  }
  62%, 75% {
    opacity: 1;
  }
  78%, 100% {
    opacity: 0;
  }
}
/*iiiiiiiiiiiiiiiiiiiii city svg*/

#gato {
    background: url('..//images/gatito.svg');
    height: 200px;
    width: 200px;
    position: absolute;
    margin-top: 410px;
    margin-left: 300px;
 }
#gato:hover {
  -webkit-animation: sprite-animation 6s steps(27,end) infinite; /* steps = number of frames */
   animation: sprite-animation 6s steps(27,end) infinite;
   }
   @-webkit-keyframes sprite-animation {
    from { background-position: 0 0; }
    to { background-position: -5399.08px 0; }
   }
#mago{
	width: 400px;
	height: 600px;
  margin-top: -150px;

}
#pompa1{
	 -webkit-animation: pompa1 3s Ease infinite;
    }
    @-webkit-keyframes pompa1{
        60%{
            opacity: 0.8;
        }
        100%{
            -webkit-transform: translate(55px,-140px);
            opacity: 0;
        }
    }
#pompa2{
	 -webkit-animation: pompa2 4s Ease infinite;
    }
    @-webkit-keyframes pompa2{
        60%{
            opacity: 0.8;
        }
        100%{
            -webkit-transform: translate(-55px,-130px);
            opacity: 0;
        }
    }
#pompa3{
	 -webkit-animation: pompa3 3.7s 1s Ease infinite;
     }
    @-webkit-keyframes pompa3{
        60%{
            opacity: 0.8;
        }
        100%{
            -webkit-transform: translate(-25px,-110px);
            opacity: 0;
        }
    }
#pompa4{
	 -webkit-animation: pompa1 2.9s 1s Ease infinite;
        }
#pompa5{
	 -webkit-animation: pompa5 3.4s Ease infinite;
        }
    @-webkit-keyframes pompa5{
        60%{
            opacity: 0.8;
        }
        100%{
            -webkit-transform: translate(75px,-130px);
            opacity: 0;
         }
    }
#pompa6{
	 -webkit-animation: pompa6 2.8s Ease infinite;
        }
    @-webkit-keyframes pompa6{
        60%{
            opacity: 0.8;
        }
        100%{
            -webkit-transform: translate(65px,-100px);
            opacity: 0;
        }
    }
#pompa7{
	 -webkit-animation: pompa7 3.2s 1.5s Ease infinite;
        }
    @-webkit-keyframes pompa7{
        60%{
            opacity: 0.8;
        }
        100%{
            -webkit-transform: translate(85px,-120px);
            opacity: 0;
        }
    }
#pompa8{
	 -webkit-animation: pompa1 3.5s  Ease infinite;
    }
    @-webkit-keyframes pompa8{
        0%{
            -webkit-transform: translate(0px,0px);
        }
        60%{
            opacity: 0.8;
        }
        100%{
            -webkit-transform: translate(-45px,-120px);
            opacity: 0;
        }
    }
#pompa9{
	 -webkit-animation: pompa9 4s  Ease infinite;
       }
    @-webkit-keyframes pompa9{
        0%{
            -webkit-transform: translate(0px,0px);
        }
        60%{
            opacity: 0.8;
        }
        100%{
            -webkit-transform: translate(-75px,-90px);
            opacity: 0;
        }
    }
#pompa10{
	 -webkit-animation: pompa10 2.5s  Ease infinite;
    }
    @-webkit-keyframes pompa10{
        60%{
            opacity: 0.5;
        }
        100%{
        -webkit-transform: translate(5px,-30px);
            opacity: 0;
        }
    }
#pompa11{
	 -webkit-animation: pompa11 2.5s  Ease infinite;
        }
     @-webkit-keyframes pompa11{
        60%{
            opacity: 0.5;
        }
        100%{
        -webkit-transform: translate(-20px,-60px);
            opacity: 0;
         }
    }
#pompa12{
	 -webkit-animation: pompa12 3.2s Ease infinite;
        }
		@-webkit-keyframes pompa12{
        40%{
            opacity: 0.7;
        }
        100%{
        -webkit-transform: translate(10px,-80px);
            opacity: 0;
        }
    }
#pompa13{
	 -webkit-animation: pompa13 2.7s Ease infinite;
        }
		@-webkit-keyframes pompa13{
        40%{
            opacity: 0.7;
        }
        100%{
        -webkit-transform: translate(-50px,-100px);
            opacity: 0;
        }
    }
#derch{
	 -webkit-animation: mano_derch 1s  Ease infinite;
       }
		@-webkit-keyframes mano_derch{
        0%{
        	transform: rotate(-0.4deg);
        }
        30%{
    		transform: rotate(0.5deg);
        }
        100%{
    		transform: rotate(-0.4deg);
        }
	}
#izq{
    -webkit-animation: mano_izq 1s  Ease infinite;
    }
		@-webkit-keyframes mano_izq{
        0%{
        	transform: rotate(0.5deg);
        }
        30%{
    		transform: rotate(-0.4deg);
        }
        100%{
    		transform: rotate(0.5deg);
        }
	}
@media (max-width: 768px) {
    svg{
           height: 75%;
            width: 75%;

    }
    #gato{
        background: url('http://evasantos.com/ilustraciones/mago/img/gatito2.svg');
        height: 200px; /* width and height of each frame */
        width: 150.55px;
        margin-top: 300px;
        margin-left: 220px;

    }
    #gato:hover {
    -webkit-animation: sprite-animation 6s steps(27,end) infinite; /* steps = number of frames */
    animation: sprite-animation 6s steps(27,end) infinite;
  }
    @-webkit-keyframes sprite-animation { /* Safari & Chrome */
        from { background-position: 0 0; }
        to { background-position: -4064.89px 0; } /* negative of sprite sheet width */
  }
}
